* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  height: 70px;
  background-color: #ffc634;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo,
.footerLogo {
  width: 170px;
}
.search-grp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  padding: 10px 35px;
  background-color: #ffffff;
  color: #242424;
  border-radius: 40px;
  border: none;
  outline: none;
  font-size: 18px;
}
.search-icon {
  color: #535353;
  margin-right: -35px;
  z-index: 99;
}
.shopping_cart {
  font-size: 40px;
  color: #051b2e;
}
.card {
  padding: 2em;
}

a:hover {
  color: #535bf2;
}

.heroImage {
  background-image: url("/indian_restaurants_brisbane.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  text-align: left;
  flex-grow: 1;
}

.onPictureText {
  bottom: 8px;
  width: 50vw;
  align-self: flex-start;
  margin-left: 50px;
  font-size: 32px;
  padding-bottom: 20px;
}

h1 {
  margin-left: 50px;
  font-size: 55px;
}

h2 {
  font-size: 54px;
}

button {
  border-radius: 40px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #242424;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;
  margin-right: 10px;
}
button:hover {
  background-color: #cdab55;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.aboutUs {
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-top: auto;
}

.story {
  font-size: 24px;
  padding: 0 50px;
}

.firstViewPort {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.secondViewPort {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.foodCard {
  flex-grow: 1;
  padding-top: 50px;
}

.foodCard h2,
.aboutUs h2 {
  padding-bottom: 25px;
}

footer {
  background-color: grey;
  height: 100px;
}

.footerLogo {
  padding-top: 20px;
}
