.heroImage {
  background-image: url("/indian_restaurants_brisbane.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 778px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  text-align: left;
}

.onPictureText {
  bottom: 8px;
  width: 50vw;
  align-self: flex-start;
  margin-left: 50px;
  font-size: 32px;
}

h1 {
  margin-left: 50px;
  font-size: 55px;
}

.aboutUs {
  height: 778px;
  color: black;
  text-align: center;
  display: block;
  padding-top: 200px;
}

.story {
  font-size: 24px;
  padding: 0 50px;
}

.menu {
  padding-top: 200px;
}
